@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;700&display=swap')
layer(base);
@import 'tailwindcss';


@font-face {
  font-family: Grotezk;
  font-style: normal;
  src: url("/fonts/ApfelGrotezek/ApfelGrotezk-Satt.woff2") format("woff2");
}

@font-face {
  font-family: Grotezk-Mittel;
  font-style: normal;
  src: url("/fonts/ApfelGrotezek/ApfelGrotezk-Mittel.woff2") format("woff2");
}

@font-face {
  font-family: Grotezk-Brukt;
  font-style: normal;
  src: url("/fonts/ApfelGrotezek/ApfelGrotezk-Brukt.woff2") format("woff2");
}

@font-face {
  font-family: Grotezk-Regular;
  font-style: normal;
  src: url("/fonts/ApfelGrotezek/ApfelGrotezk-Regular.woff2") format("woff2");
}

@theme {
  --font-grotezk: "Grotezk", "sans-serif";
  --font-grotezk-mittel: "Grotezk-Mittel", "sans-serif";
  --font-grotezk-brukt: "Grotezk-Brukt", "sans-serif";
  --font-grotezk-regular: "Grotezk-Regular", "sans-serif";  
  

  --color-accent: #D8BC00;
  --color-accent-dark: #5A2575;
  --color-accent-bg-dark: #1b0e21;
}

@utility global-background {
  @apply bg-white dark:bg-accent-bg-dark;
}

@utility section-with-title {
  @apply -mt-12 md:-mt-10 pb-10;
}

@utility  section-title {
  @apply h-20 font-grotezk py-5 px-6 md:px-10 text-7xl md:text-[10rem] leading-12 md:leading-5;
}

@utility text-colored {
  @apply text-accent-dark dark:text-accent;
}

@utility text-colored-inverted {
  @apply text-accent dark:text-accent-dark;
}

@utility bg-colored {
  @apply bg-accent dark:bg-accent-dark;
}

@utility content-container {
  @apply mt-5 md:mt-20 px-10 md:px-20 xl:px-50 2xl:px-70;
}

body {
  @apply bg-accent dark:bg-accent-dark dark:text-gray-200;
  font-family: "Grotezk-Regular", "sans-serif";
}

a {
  @apply text-accent-dark dark:text-accent;
}

